body {
  font-family: Arial, sans-serif;
}

.card-hover {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}

.card-hover:hover {
  transform: scale(1.15);
  /* más grande que antes */
  z-index: 10;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  /* sombra más notoria */
  color: white;
  font-weight: bold;
  font-style: italic;
}